/* GLOBAL VARIABLES */
/* Fonts */
$default-font: "Ubuntu", sans-serif;

/* Colors */
$bg-color: #15d5d522;
$calmBlue: #173149; // Calm and mature deep blue
$secondaryGray: #6c757d; // Neutral gray for backgrounds or secondary elements
$growthGreen: #476c5e; // Rich green conveying a sense of growth and stability
$accentOrange: #aa652c; // Subtle orange for warmth and emphasis
$softShadow: #6c757d5c; // Soft shadow with reduced opacity
$accentDetail: #14d9d9; // Accent detail color

/* Font sizes */
$logo-fsize: 3rem;
$xl: 3.5rem;
$l: 2.5rem;
$m: 1.5rem;
$s: 1rem;

/** SCREEN MIXINS **/
@mixin small-screen {
    // Ideal for phones + tabs
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin medium-screen {
    // Ideal for laptops (13 inches to 17 inches)
    @media screen and (min-width: 768px) and (max-width: 1366px) {
        @content;
    }
}

@mixin large-screen {
    // Ideal for monitors (20 inches+)
    @media screen and (min-width: 1367px) {
        @content;
    }
}

@mixin medium-to-large-screen {
    // Ideal for screens (13 inches+)
    @media screen and (min-width: 768px) {
        @content;
    }
}

/* ------------------------------ */

/* SIMPLE CSS RESET */
/* Box-sizing border-box for all elements */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Remove margin and padding from all elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dd,
dt,
figure,
figcaption,
blockquote,
pre {
    margin: 0;
    padding: 0;
}

/* Set default font size and line height */
body {
    font-size: 16px;
    line-height: 1.5;
    font-family: $default-font;
    background-color: $bg-color;

    @include medium-screen {
        margin: 2rem 4rem;
    }
    @include large-screen {
        margin: 2rem 12rem;
    }
    @include small-screen {
        margin: 1.5rem 1.5rem;
    }
}

/* Remove list styles (bullet points and numbers) */
ul,
ol {
    list-style: none;
}

/* Remove default styles for anchor links */
a {
    text-decoration: none;
    color: inherit;
}

/* Remove default styles for form elements */
button,
input,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/* Remove default styles for images */
img {
    max-width: 100%;
    height: auto;
}

/* Remove default styles for tables */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.root {
    display: flex;
    flex-direction: column;
    @include medium-to-large-screen {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        gap: 3rem;
    }
    @include small-screen {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        gap: 2rem;
    }
}

/* CARDS CATALOGE STYLESHEET */
.hidden {
    opacity: 0;
    visibility: hidden;
}

.close-info {
    background: url("/assets/icons/close-info.svg") no-repeat !important;
}

.cards-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .cards-container-title {
        color: $calmBlue;

        @include medium-to-large-screen {
            font-size: calc($m + 0.5rem);
        }

        @include small-screen {
            font-size: calc($m + 0.2rem);
        }
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        column-gap: 3rem;
        row-gap: 3rem;

        .card {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            background-color: #f7ffff;
            box-shadow: 3px 3px 0px 0px $calmBlue;
            border-radius: 20px;
            border: 1px solid $calmBlue;
            transition-duration: 0.3s;
            padding: 1rem 0rem;
            position: relative;

            @include medium-to-large-screen {
                &:hover {
                    transform: translate3d(0px, -5px, 0px);
                    transition-duration: 0.2s;
                }
            }

            .card-before {
                position: absolute;
                content: "";
                background: url("/assets/icons/info.svg") no-repeat;
                top: 13px;
                right: 12px;
                width: 40px;
                height: 40px;
                cursor: pointer;
                z-index: 5;
                transition-duration: 0.2s;

                @include medium-to-large-screen {
                    &:hover {
                        transform: scale(1.1);
                        transition-duration: 0.2s;
                    }
                }
            }

            .card-extra {
                position: absolute;
                z-index: 4;
                top: 0;
                border-radius: 20px;
                border: none;
                background-color: #fff;
                color: $calmBlue;
                font-weight: 500;
                width: 100%;
                height: 100%;
                padding: 2.5rem 3rem;
                font-size: $s;
                text-align: left;
                line-height: 1.6;
                overflow: scroll;
                overflow-x: hidden;
                transition-duration: 0.3s;

                &::-webkit-scrollbar {
                    width: 6px;
                    height: 10px !important;
                }

                &::-webkit-scrollbar-track {
                    background-color: #ddd;
                    border-radius: 20px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $accentDetail; /* color of the scroll thumb */
                    border-radius: 20px; /* roundness of the scroll thumb */
                    width: 2px;
                }

                > p {
                    white-space: pre-line;
                    hyphens: auto;
                    text-align: justify;
                }
            }

            .card-img {
                height: auto;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                overflow: hidden;
                align-self: center;

                @include medium-to-large-screen {
                    width: 80%;
                }

                @include small-screen {
                    width: 60%;
                }
            }

            .card-details {
                padding: 0.5rem 1rem;
                display: flex;
                flex-direction: column;
                gap: 0.8rem;

                .card-tags {
                    display: flex;
                    gap: 0.5rem;

                    > span {
                        padding: 0.2rem 0.6rem;
                        border-radius: 5px;
                        font-weight: 600;
                    }

                    .card-ccode {
                        background: $secondaryGray;
                        color: #fff;
                    }

                    .card-feat {
                        background: $accentOrange;
                        color: #fff;
                    }
                }

                .card-title {
                    font-weight: 700;
                    color: $calmBlue;
                    font-size: $s;
                }

                .card-desc {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: $calmBlue;
                    font-weight: 400;
                }

                .card-time,
                .card-place {
                    font-weight: 500;
                    color: $calmBlue;
                }

                .card-btn-container {
                    display: flex;
                    gap: 0.6rem;

                    .card-btn-online,
                    .card-btn-onsite {
                        cursor: pointer;
                        border: none;
                        padding: 0.2rem 0.4rem;
                        border-radius: 5px;
                        font-weight: 500;
                        font-size: $s;
                        border: 2px solid $calmBlue;
                    }

                    .card-btn-online {
                        background-color: $calmBlue;
                        color: #fff;
                    }

                    .card-btn-onsite {
                        background-color: $accentDetail;
                        color: $calmBlue;
                    }
                }
            }
        }
    }
}
